.link-button {
  color: #fff;
  background: linear-gradient(
    45deg,
    rgb(var(--accent)) 0%,
    #da62c4 60%,
    white 120%
  );
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.4rem;
  opacity: 0.9;
  cursor: pointer;
}

.link-button:hover {
  opacity: 1;
}
